body {
  background-color: #000;
  color: #FFF;
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
}

h1 {
  text-align: center;
}

p {
  font-size: 2rem;
}

/*
  ANIMATION DIV
*/
.animation {
  width: 100%;
  height: 5rem;
  position: relative;
  overflow: hidden;
}

.animation img {
  position: absolute;
  width: 33%;
  height: 100%;
}

/*
  ANIMATION
*/
.spider {
  left: -100%;
  animation: spiderMove 6s infinite;
}

@keyframes spiderMove {
  0%{left: -100%;}
  50%{left: 50%; transform: translate(-100%);}
  100%{left: 50%; transform: translate(-100%);}
}

.venom {
  left: 300%;
  animation: venomMove 6s infinite;
}

@keyframes venomMove {
  0%{left: 300%;}
  50%{left: 50%;}
  100%{left: 50%;}
}

.explo {
  left: 50%;
  transform: translate(-50%);
  opacity: 0;
  animation: exploMove 6s infinite;
}

@keyframes exploMove {
  0%{opacity: 0;}
  49%{opacity: 0;}
  50%{opacity: 0.5;}
  55%{opacity: 0;}
  60%{opacity: 0.5;}
  65%{opacity: 0;}
  70%{opacity: 0.5;}
  75%{opacity: 0;}
  80%{opacity: 1;}
  100%{opacity: 1;}
}

.tablero {
  width: 95vw;
  height: 95vw;
  margin: 1.5rem auto;
  display: flex;
  flex-wrap: wrap;
}

.casilla {
  width: 33.333%;
  height: 33.333%;
  border: 1px solid #FFF;
}

/*
  TEXT
*/
.winner {
  display: none;
}

/************************************************************* 
  Tablet SCREEN
*************************************************************/
@media screen and (min-width: 768px) {
  .animation {
    height: 8rem;
  }

  .tablero {
    width: 80vw;
    height: 80vw;
  }
}

/************************************************************* 
  DESKTOP SCREEN
*************************************************************/
@media screen and (min-width: 1000px) {
  .animation {
    height: 3rem;
  }

  .animation img {
    width: 10%;
  }

  .tablero {
    width: 25vw;
    height: 25vw;
  }

  .casilla {
    cursor: pointer;
  }
}

/************************************************************* 
  Mensaje empate
*************************************************************/
.tie {
  display: none;
}

.tie.visible {
  display: block;
}